{% extends "base.html" %}
{% block icon_url %}/static/favicon.icon{% end %}
{% block title %}DSSE Cloud Service{% end %}
{% block body %}
    <div class="row">
        <div class="col-md-3" style="margin-top:50px">
            <div class="btn-group-vertical">
                <a class="btn btn-large btn-block btn-primary" href="/upload">Upload</a>
                <a class="btn btn-large btn-block btn-primary" href="/search">Search</a>
                <a class="btn btn-large btn-block btn-primary" href="/add">Add</a>
                <a class="btn btn-large btn-block btn-primary" href="/delete">Delete</a>
            </div>
        </div>
    </div>
{% end %}
