<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/justified-nav.css" rel="stylesheet">

    <link href="/static/flat-ui/css/flat-ui.css" rel="stylesheet">
  </head>

  <body>
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
        {% module NavbarDSSE(user, url) %}
        <!-- <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"  href="#">DSSE Cloud Service</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Guide</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                Actions 
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/upload">Upload Files</a>
                                    <a href="/delete">Delete Files</a>
                                    <a href="/search">Search FIles</a>
                                    <a href="/add">Add Files</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->

    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>DSSE Cloud Service Guide</h1>
  <p><span>This a simple implementation of DSSE designed by <br><br>

      Seny Kamara - Microsoft Research<br>
      Charalampos Papamanthou - UC Berkeley<br>
      Tom Roeder - Microsoft Research<br><br>

      in Dynamic Searchable Symmetric Encryption.<br><br>

      Usage<br>
      -----------------------------------------------------------<br>
      DSSE Client includes 8 main python scriptions.<br> 
You can put your own files in db/(your id)/.<br>
<br>
### DSSE_gen.py<br>
    This script generate public and private key of RSA.<br>
<br>
### DSSE_enc.py<br>
    Example: python DSSE_enc.py haha<br>
    This script encrypts files in db/haha/*.<br>
<br>
### DSSE_index.py<br>
    Example: python DSSE_index.py haha<br>
    This script creates the index of files db/haha/*.<br>

### DSSE_addtoken.py<br>
    Example: python DSSE_addtoken.py haha 5<br>
    This script creates add token of file db/haha/5. <br>
<br>
### DSSE_srchtoken.py<br>
    Example: python DSSE_srchtoken.py haha even<br>
    This script creates search token of word for haha.<br>
<br>
### DSSE_deltoken.py<br>
    Example: python DSSE_deltoken.py haha 5<br>
    This script creates del token of file 5 in haha.<br>
<br>
### DSSE_zip.p<br>
    Example: python DSSE_zip.py hah<br>
    This script creates a zip file for db/haha/*.<br>
    The zip file will be uploaded to server later<br>.
<br>
### DSSE_dec.py<br>
    Example: python DSSE_dec.py haha even<br>
    This script deciphers the search result of word even and <br>
    puts result in folder db/haha/even<br>
</span></p>
        <p><a class="btn btn-lg btn-success" href="/download" role="button">Get started</a></p>
      </div>

      <!-- Example row of columns 
      <div class="row">
        <div class="col-lg-4">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div> -->

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Rightpeter 2015/4 </p>
      </footer>
    </div> <!-- /container -->
  </body>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/dist/js/bootstrap.min.js"></script>
</html>
