<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Home</title>
<link rel="icon" type="image/png" href="/static/images/favicon.ico" />
<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
<!--[if lt IE 9]>
<script src="scripts/ie9.js">IE7_PNG_SUFFIX=".png";</script>
<![endif]-->
<link href='../../fonts.googleapis.com/css@family=Arvo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/stylesheets/style.css"> 
<link rel="stylesheet" href="/static/stylesheets/responsive.css"> 
<link rel="stylesheet" href="/static/stylesheets/jquery.fancybox-1.3.4.css" media="screen"> 
<script src="/static/scripts/jquery-2.0.3.min.js"></script> 
<script src="/static/scripts/jquery.easing-1.3.pack.js"></script>
<script src="/static/scripts/jquery.fancybox-1.3.4.js"></script>
<script src="/static/scripts/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="/static/scripts/js_func.js"></script>
</head>
<body>
<div class="wraper">
 <header class="header">
  <!-- top left menu -->
  <nav>
   <ul class="top_menu">
    <li><a class="selected" href="/"><span>home</span></a></li>
    <li><a href="/work"><span>function</span></a></li>
    <li class="left_side"><a href="text_full.html"><span>about us </span></a></li>
    
   </ul>
  </nav>
  <!-- /top left menu -->
 </header>
</div> 

<!-- intro text --> 
<div class="intro_text">
 <div class="wraper">
  <h1>how to use dsse</h1>
  <div><a href="/static/download/client.zip">Download Client Python Script  <span>Go ahead. <span>Clicky.</span></span></a></div>
  <p><span>This a simple implementation of DSSE designed by <br><br>

      Seny Kamara - Microsoft Research<br>
      Charalampos Papamanthou - UC Berkeley<br>
      Tom Roeder - Microsoft Research<br><br>

      in Dynamic Searchable Symmetric Encryption.<br><br>

      Usage<br>
      -----------------------------------------------------------<br>
      DSSE Client includes 8 main python scriptions.<br> 
You can put your own files in db/(your id)/.<br>
<br>
### DSSE_gen.py<br>
    This script generate public and private key of RSA.<br>
<br>
### DSSE_enc.py<br>
    Example: python DSSE_enc.py haha<br>
    This script encrypts files in db/haha/*.<br>
<br>
### DSSE_index.py<br>
    Example: python DSSE_index.py haha<br>
    This script creates the index of files db/haha/*.<br>

### DSSE_addtoken.py<br>
    Example: python DSSE_addtoken.py haha 5<br>
    This script creates add token of file db/haha/5. <br>
<br>
### DSSE_srchtoken.py<br>
    Example: python DSSE_srchtoken.py haha even<br>
    This script creates search token of word for haha.<br>
<br>
### DSSE_deltoken.py<br>
    Example: python DSSE_deltoken.py haha 5<br>
    This script creates del token of file 5 in haha.<br>
<br>
### DSSE_zip.p<br>
    Example: python DSSE_zip.py hah<br>
    This script creates a zip file for db/haha/*.<br>
    The zip file will be uploaded to server later<br>.
<br>
### DSSE_dec.py<br>
    Example: python DSSE_dec.py haha even<br>
    This script deciphers the search result of word even and <br>
    puts result in folder db/haha/even<br>
</span></p>

 </div>
</div>
<!-- /intro text -->


<div class="footer_wrap">
 <div class="wraper">
  <!-- about author -->
  <div class="about_author">
   <h3>about the author</h3>
   <p><span><img src="/static/images/author/author.png" alt="" /></span>
   <p>Name:Zhou Chi ; Student Id:201192193 ; Class:Network 1103</p>
   <p>Name:Xie Zhaokun ; Student Id:201192281 ; Class:Network 1103</p>
   <p>Name:Lu Lihao ; Student Id:             ; Class:Network 1103</p>
   <p>Name:Chen Xue ; Student Id:             ; Class:Network 1103</p>
   </p>
  </div>
  <!-- /about author -->
  <!-- contact us -->
  <div class="contact_block">
   <h3>Contact us</h3>
   <form method="post" action="#">
    <p><input type="text" value="Full Name" id="name" /><input type="text" value="Email" id="email" /></p>
    <p><textarea id="message">Comment</textarea></p>
    <p><button>Send</button></p>
   </form>
  </div>
  <!-- /contact us -->
  <!-- footer copy -->
  <footer>
   <ul class="soc_icons">
    <li><a href="#"><img src="/static/images/facebook.gif" alt="" /></a></li>
    <li><a href="#"><img src="/static/images/tweeter.gif" alt="" /></a></li>
    <li><a href="#"><img src="/static/images/rss.gif" alt="" /></a></li>
   </ul>
   <p>&copy; Copyright &copy; 2014.Company name All rights reserved.</p>
  </footer>
  <!-- /footer copy -->
 </div>
</div>

</body>
</html> 
