<div style="margin-top:100px;margin-left:50px;">
    <form  action="/search" enctype="multipart/form-data" method="post">
        {% raw xsrf_form_html() %}
        User Name:<input type="text" name="username" class='txt'><br>
        Word:<input type="text" name="word"><br>
        <input type="submit" value="Submit">
    </form>
    <form  action="/searchfile" enctype="multipart/form-data" method="post">
        {% raw xsrf_form_html() %}
        User Name:<input type="text" name="username" class='txt'><br>
        File:<input type="file" name="myfile"><br>
        <input type="submit" value="Submit">
    </form>
</div>
