<!-- <div style="margin-top:100px;margin-left:50px;">
    <form  action="/upload" enctype="multipart/form-data" method="post" class="dropzone">
        {% raw xsrf_form_html() %}
        <div>
            User Name:<input type="text" name="username" class='txt'>
        </div>
        <div class="fallback">
            <input name="myfile" type="file" multiple />
        </div>
    </form>
</div> -->
<div style="margin-top:100px;margin-left:50px;">
    <form  action="/upload" enctype="multipart/form-data" method="post">
        {% raw xsrf_form_html() %}
        User Name:<input type="text" name="username" class='txt'><br>
        File:<input type="file" name="myfile"><br>
        <input type="submit" value="Submit">
    </form>
</div>
