<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" type="text/css" href="/static/stylesheets/selectstyle.css">
 <link rel="stylesheet" href="/static/stylesheets/style.css"> 
</head>

<body>

  <div class="wraper">
  <header class="header">
  <!-- top left menu -->
  <nav>
   <ul class="top_menu">
    <li><a class="selected" href="/upload"><span>upload</span></a></li>
    <li><a href="/search"><span>search</span></a></li>
    <li class="right_side"><a href="/delete"><span>delete</span></a></li>
	<li class="right_side"><a href="/add"><span>add</span></a></li>  
   </ul>
  </nav>
  <!-- /top left menu -->
  </header>
  </div>

    <div style="margin-top:100px;margin-left:50px;">
    <form  action="/upload" enctype="multipart/form-data" method="post">
        User Name:<input type="text" name="username" class='txt'><br>
        File:<input type="file" name="myfile"><br>
        <input type="submit" value="Submit">
    </form>
	</div>



 <div class="footer_wrap" style="margin-top:300px;">
 <div class="wraper">
  <footer>
   <ul class="soc_icons">
    <li><a href="#"><img src="/static/images/facebook.gif" alt="" /></a></li>
    <li><a href="#"><img src="/static/images/tweeter.gif" alt="" /></a></li>
    <li><a href="#"><img src="/static/images/rss.gif" alt="" /></a></li>
   </ul>
   <p>&copy; Copyright &copy; 2014.Company name All rights reserved.</p>
  </footer>
  <!-- /footer copy -->
 </div>
</div>


</body>
</html>
